body {
	background-color: #9192A0;
	margin: 0 !important;
	padding: 0 !important;
	position:absolute; top:0; bottom:0; right:0; left:0;
}

div{
	display: block;
}

html{
	color: #fff;
	font:18px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
	text-align: center;
}

label ~ input[type=checkbox], label ~ input[type=radio] {
	width: 173px;
}

input[type=text] {
	height: 17px;
}

input[type=date] {
	height: 19px;
}

label {
	display: inline-block;
	margin-right: 10px;
	text-align: right;
	width: 200px;
}

div > label, div > input {
	margin-bottom: 5px;
}

p {
	margin: 0;
	word-wrap: break-word;
	margin-bottom: 10px;
}
.container {
	background-color: #37373A;
	margin: 0 auto;
	max-width: 750px;
	height:100%;
	padding: 30px 10px;
}

.set-width {
	width: 168px;
}

#map {
	height: 70%;
	position: relative;
}